<link rel="stylesheet" type="text/css" href="./resources/style/head.css">

<div id="page-head">
	<div id="page-head--title"><h3>Fillipost</h3></div>
	<div id="page-head--link">
	<a href="./index.html">О проекте</a>
	<a href="./doc.html">Документация</a>
	<a href="./example.html">Пример</a>
	<a href="https://github.com/Ivanzar/Fillipost">GitHub</a></div>
</div>
