<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>{{ post.name }}</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./resources/style/main.css">

{% include 'head.liquid' %}

<div id="page-content">{{ post.content }}</div>
